@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&family=IBM+Plex+Serif:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font utilities */

.ibm-sans {
  font-family: 'IBM Plex Sans', sans-serif;
}

.ibm-serif {
  font-family: 'IBM Plex Serif', serif;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('/images/tiger-spikers.webp');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
