@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&family=IBM+Plex+Serif:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font utilities */

.ibm-sans {
  font-family: 'IBM Plex Sans', sans-serif;
}

.ibm-serif {
  font-family: 'IBM Plex Serif', serif;
}

h1,
h2 {
  font-family: 'IBM Plex Serif', serif;
}

.hero-image {
  background-image: linear-gradient(
      rgba(30, 41, 59, 0.9),
      rgba(30, 41, 59, 0.9)
    ),
    url('/images/tiger-spikers.webp');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
